<body id="body" style="width:100vw; height:9999px;">
</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/cytoscape/2.4.8/cytoscape.js'></script>
<script>
    var cy = cytoscape({
        container: window.document.querySelector('#body'),
        style: cytoscape.stylesheet()
                .selector('node')
                .css({
                    'content': 'data(id)',
                    'text-valign': 'center',
                    'color': 'black'
                })
                .selector('edge')
                .css({
                    'target-arrow-shape': 'triangle'
                })
    });
    cy.add(data.elements);


</script>